/* HEADER */
header {
  border-bottom: 1px solid #d9dbe1;

}

header > .inner {
  height: 104px;
}

header .logo {
  position: absolute;
  height: 54px;
  bottom: 0;
  margin: auto; 
  padding-bottom: 10px;
}

header .logo img {
  height: 54px;
}

header .sub-menu {
  position: absolute;
  display: flex;
  right: 0;
  height: 104px;
}

header .sub-menu ul.menu {
  display: flex;
  padding: 19px 0 13px 5px;
}

header .sub-menu ul.menu li {
  margin-right: 17px;
  display: inline-block;
}

header .sub-menu ul.menu li:last-child {
  margin: 0;
}

header .sub-menu ul.menu li a {
  font-size: 14px;
  display: flex;
  color: #000;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

header .sub-menu ul.menu li a .icon
{
  justify-content: center;
  align-items: center;
  height: 16px;
  padding-right: 3px;
}

header .sub-menu ul.menu li a:hover {
  border: 1px solid #0056D5;
  border-radius: 4px;
}

header .sub-menu ul.menu li a img.flag {
  visibility: hidden;
}

header .sub-menu .search {
  font-size: 14px;
  position: relative;
  display: flex;
}

header .sub-menu .search input {
  padding: 5px 10px 5px 16px;
  height: 36px;
  width: 213px;
  border: 1px solid #f3f4f8;
  box-sizing: border-box;
  border-radius: 4rem;
  background-color: #f3f4f8;
  color: #767676;
  outline: none;
  position: absolute;
  bottom: 0px;
  right: 87px;
  margin: auto;
}

header .sub-menu .search input:hover {
  outline: solid #0056D5 1px;
  border-radius: 4rem;
  outline-offset: 1px;
}

header .sub-menu .search .material-icons {
  position: absolute;
  height: 20px;
  bottom: 10px;
  right: 99px;
  margin: auto; 
}

header .sub-menu .search .signin {
  display: flex;
  position: absolute;
  width: 65px;
  height: 27px;
  bottom: 5px;
  right: 11px;
  margin: auto;
  background-color: #00256c;
  color: #fff;
  border: 1px solid #00256c;
  border-radius: 1.5rem;
  box-sizing: border-box;
  padding: 3px 12px 4px;
  font-size: 14px;
  font-weight: 700;
}

header .sub-menu .search .signin:hover {
  outline: solid #0056D5 1px;
  border-radius: 1.5rem;
  outline-offset: 1px;
}

header .main-menu {
  display: flex;
  position: absolute;
  height: 104px;
  bottom: -4px;
  left: 420px;
  margin: auto;
  z-index: 5;
}

header .main-menu .item .item__name {
  padding: 20px 0 0 0;
}

header .main-menu .item .item__name:first-child {
  padding: 53px 0 20px 2rem;
  font-size: 19px;
  font-weight: 700;
}

header .main-menu .item .item__contents,
header .main-menu .item .item__contentsAP {
  width: 1280px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  display: none;
} 

header .main-menu .item:hover .item__contents,
header .main-menu .item:hover .item__contentsAP {
  display: block;
}

header .main-menu .item .item__contents .contents__menu,
header .main-menu .item .item__contentsAP .contents__menuAP {
  background-color: #f3f4f8;
  position: absolute;
  top: -1px;
  width: 1170px;
  padding: 60px 60px 50px 60px;
  border-top: 1px solid #d9dbe1;
}

header .main-menu .item .item__contents .contents__menu .contents_inner,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 {
  width: 1160px;
  display: flex;
}

header .main-menu .item .item__contents .contents__menu .contents_inner .textboxes,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP .textboxesAP,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .textboxesAP2 {
  width: 865px;
  display: flex;
}

header .main-menu .item .item__contents .contents__menu .contents_inner .textboxes .textbox1,
header .main-menu .item .item__contents .contents__menu .contents_inner .textboxes .textbox2,
header .main-menu .item .item__contents .contents__menu .contents_inner .textboxes .textbox3 {
  width: 207.610px;
  height: 254px;
  padding: 30px 30.266px;
  margin-right: 20px;
  background-color: #fff;
  box-shadow: 0 2px 7px 0 rgba(0,0,0,.1);
  border-radius: 7px;
}

header .main-menu .item .item__contents .contents__menu .contents_inner .textboxes .textbox1 h2,
header .main-menu .item .item__contents .contents__menu .contents_inner .textboxes .textbox2 h2,
header .main-menu .item .item__contents .contents__menu .contents_inner .textboxes .textbox3 h2,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP .textboxesAP .textbox1AP h2,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP .textboxesAP .textbox2AP h2,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP .textboxesAP .textbox3AP h2 {
  width: 207.609px;
  height: 24px;
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 16px;
}

header .main-menu .item .item__contents .contents__menu .contents_inner .textboxes .textbox1 .list1,
header .main-menu .item .item__contents .contents__menu .contents_inner .textboxes .textbox2 .list2,
header .main-menu .item .item__contents .contents__menu .contents_inner .textboxes .textbox3 .list3,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP .textboxesAP .textbox1AP .list1AP,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP .textboxesAP .textbox2AP .list1AP,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP .textboxesAP .textbox3AP .list1AP {
  width: 207.690px;
  height: 162px;
}

header .main-menu .item .item__contents .contents__menu .contents_inner .textboxes .textbox1 .list1 > li,
header .main-menu .item .item__contents .contents__menu .contents_inner .textboxes .textbox2 .list2 > li,
header .main-menu .item .item__contents .contents__menu .contents_inner .textboxes .textbox3 .list3 > li,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP .textboxesAP .textbox1AP .list1AP > li,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP .textboxesAP .textbox2AP .list2AP > li,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP .textboxesAP .textbox3AP .list3AP > li{
  width: 207.690px;
  height: 18px;
  margin-top: 18px;
  font-size: 14px;
  color: #555;
}

header .main-menu .item .item__contents .contents__menu .contents_inner .contents_img,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP .contents_img,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .contents_img {
  width: 275px;
  height: 314px;
  margin-left: 20px;
}

header .main-menu .item .item__contents .contents__menu .contents_inner .contents_img .imgs,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP .contents_imgAP .imgs,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .contents_imgAP .imgs {
  width: 275px;
  height: 314px;
}

header .main-menu .item .item__contents .contents__menu .contents_inner .contents_img .imgs .img1,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP .contents_img .imgs .img1,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .contents_img .imgs .img1 {
  width: 275px;
  height: 147px;
  position: relative;
}

header .main-menu .item .item__contents .contents__menu .contents_inner .contents_img .imgs .img1 > img,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP .contents_img .imgs .img1 > img,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .contents_img .imgs .img1 > img {
  width: 275px;
  height: 147px;
  border-radius: 7px;
}

header .main-menu .item .item__contents .contents__menu .contents_inner .contents_img .imgs .img1 > span,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP .contents_img .imgs .img1 > span,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .contents_img .imgs .img1 > span {
  width: 165.453px;
  height: 25px;
  padding: 24px;
  font-weight: 700;
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
}

header .main-menu .item .item__contents .contents__menu .contents_inner .contents_img .imgs .img2,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP .contents_img .imgs .img2,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .contents_img .imgs .img2 {
  width: 275px;
  height: 147px;
  margin-top: 20px;
  position: relative;
}

header .main-menu .item .item__contents .contents__menu .contents_inner .contents_img .imgs .img2 > img,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP .contents_img .imgs .img2 > img,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .contents_img .imgs .img2 > img {
  width: 275px;
  height: 147px;
  border-radius: 7px;
}

header .main-menu .item .item__contents .contents__menu .contents_inner .contents_img .imgs .img2 > span,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP .contents_img .imgs .img2 > span,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .contents_img .imgs .img2 > span {
  width: 165.453px;
  height: 25px;
  padding: 24px;
  font-weight: 700;
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
}

header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP {
  height: 294px;
}

header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP .textboxesAP .textbox1AP,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP .textboxesAP .textbox2AP,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP .textboxesAP .textbox3AP {
  width: 207.610px;
  height: 214px;
  padding: 30px 30.266px;
  margin-right: 20px;
  background-color: #fff;
  box-shadow: 0 2px 7px 0 rgba(0,0,0,.1);
  border-radius: 7px;
}

header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .textboxesAP2 {
  width: 865px;
  display: flex;
}

header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .textboxesAP2 .textbox4AP,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .textboxesAP2 .textbox5AP,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .textboxesAP2 .textbox6AP {
  width: 207.610px;
  height: 242px;
  padding: 30px 30.266px;
  margin-right: 20px;
  background-color: #fff;
  box-shadow: 0 2px 7px 0 rgba(0,0,0,.1);
  border-radius: 7px;
}

header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .textboxesAP2 .textbox4AP h2,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .textboxesAP2 .textbox5AP h2,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .textboxesAP2 .textbox6AP h2{
  width: 207.609px;
  height: 24px;
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 16px;
}


header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .textboxesAP2 .textbox4AP .list4AP > li,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .textboxesAP2 .textbox5AP .list5AP > li,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .textboxesAP2 .textbox6AP .list6AP > li{
  width: 207.609px;
  height: 18px;
  margin-top: 18px;
  font-size: 14px;
  color: #555;
}





header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .textboxesAP2 .textbox7AP,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .textboxesAP2 .textbox8AP,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .textboxesAP2 .textbox9AP {
  width: 207.610px;
  height: 314px;
  padding: 30px 30.266px;
  margin-right: 20px;
  background-color: #fff;
  box-shadow: 0 2px 7px 0 rgba(0,0,0,.1);
  border-radius: 7px;
}

header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .textboxesAP2 .textbox7AP h2,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .textboxesAP2 .textbox8AP h2,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .textboxesAP2 .textbox9AP h2{
  width: 207.609px;
  height: 24px;
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 16px;
}

header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .textboxesAP2 .textbox7AP .list7AP > li,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .textboxesAP2 .textbox8AP .list8AP > li,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .textboxesAP2 .textbox9AP .list9AP > li{
  width: 207.609px;
  height: 18px;
  margin-top: 18px;
  font-size: 14px;
  color: #555;
}