/* HEADER */
header {
  border-bottom: 1px solid #d9dbe1;
}

header > .inner {
  height: 104px;
}

header .logo {
  position: absolute;
  height: 54px;
  bottom: 0;
  margin: auto; 
  padding-bottom: 10px;
}

header .logo img {
  height: 54px;
}

header .sub-menu {
  position: absolute;
  display: flex;
  right: 0;
  height: 104px;
}

header .sub-menu ul.menu {
  display: flex;
  padding: 19px 0 13px 5px;
}

header .sub-menu ul.menu li {
  display: inline-block;
  margin-right: 17px;
}

header .sub-menu ul.menu li:last-child {
  margin: 0;
}

header .sub-menu ul.menu li a {
  display: flex;
  margin: 0 auto;
  font-size: 14px;
  color: #000;
  justify-content: center;
  align-items: center;
}

header .sub-menu ul.menu li a .icon {
  height: 16px;
  padding-right: 3px;
}

header .sub-menu ul.menu li a:hover {
  border: 1px solid #0056D5;
  border-radius: 4px;
}

header .sub-menu ul.menu li a img.flag {
  visibility: hidden;
}

header .sub-menu .search {
  position: relative;
  display: flex;
  font-size: 14px;
}

header .sub-menu .search input {
  position: absolute;
  height: 36px;
  width: 213px;
  padding: 5px 10px 5px 16px;
  margin: auto;
  border: 1px solid #f3f4f8;
  box-sizing: border-box;
  border-radius: 64px;
  background-color: #f3f4f8;
  color: #767676;
  outline: none;
  bottom: 0px;
  right: 87px;

}

header .sub-menu .search input:hover {
  outline: solid #0056D5 1px;
  border-radius: 64px;
  outline-offset: 1px;
}

header .sub-menu .search .material-icons {
  position: absolute;
  height: 20px;
  bottom: 10px;
  right: 99px;
  margin: auto; 
}

header .sub-menu .search .signin {
  position: absolute;
  display: flex;
  width: 65px;
  height: 27px;
  bottom: 5px;
  right: 11px;
  margin: auto;
  padding: 3px 12px 4px;
  font-size: 14px;
  font-weight: 700;
  background-color: #00256c;
  color: #fff;
  border: 1px solid #00256c;
  border-radius: 24px;
  box-sizing: border-box;
}

header .sub-menu .search .signin:hover {
  outline: solid #0056D5 1px;
  border-radius: 24px;
  outline-offset: 1px;
}

header .main-menu {
  position: absolute;
  display: flex;
  height: 104px;
  bottom: -4px;
  left: 420px;
  margin: auto;
  z-index: 5;
}

header .main-menu .item .item__name {
  padding: 20px 0 0 0;
}

header .main-menu .item .item__name:first-child {
  padding: 53px 0 20px 32px;
  font-size: 19px;
  font-weight: 700;
}

header .main-menu .item .item__contents,
header .main-menu .item .item__contentsAP {
  position: fixed;
  display: none;
  width: 1280px;
  margin: 0 auto;
  left: 0;
  right: 0;
} 

header .main-menu .item:hover .item__contents,
header .main-menu .item:hover .item__contentsAP {
  display: block;
}

header .main-menu .item .item__contents .contents__menu,
header .main-menu .item .item__contentsAP .contents__menuAP {
  position: absolute;
  width: 1170px;
  top: -1px;
  padding: 60px 60px 50px 60px;
  background-color: #f3f4f8;
  border-top: 1px solid #d9dbe1;
}

header .main-menu .item .item__contents .contents__menu .contents_inner,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 {
  display: flex;
  width: 1160px;
}

header .main-menu .item .item__contents .contents__menu .contents_inner .textboxes,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP .textboxesAP,
header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .textboxesAP2 {
  display: flex;
  width: 865px;
}

header .main-menu .item .item__contents .contents__menu .contents_inner .textboxes .textbox {
  width: 207.610px;
  height: 254px;
  padding: 30px 30.266px;
  margin-right: 20px;
  background-color: #fff;
  box-shadow: 0 2px 7px 0 rgba(0,0,0,.1);
  border-radius: 7px;
}

header .main-menu .item h2 {
  width: 207.609px;
  height: 24px;
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 16px;
}

header .main-menu .item .list {
  width: 207.690px;
  height: 162px;
}

header .main-menu .item .list > li {
  width: 207.690px;
  height: 18px;
  margin-top: 18px;
  font-size: 14px;
  color: #555;
}

header .main-menu .item .contents_img {
  width: 275px;
  height: 314px;
  margin-left: 20px;
}

header .main-menu .item .contents_img .imgs {
  width: 275px;
  height: 314px;
}

header .main-menu .item .contents_img .imgs .img1 {
  position: relative;
  width: 275px;
  height: 147px;
}

header .main-menu .item .contents_img .imgs img {
  width: 275px;
  height: 147px;
  border-radius: 7px;
}

header .main-menu .item .contents_img .imgs span {
  position: absolute;
  width: 165.453px;
  height: 25px;
  padding: 24px;
  top: 0;
  left: 0;
  font-weight: 700;
  font-size: 16px;
}

header .main-menu .item .contents_img .imgs .img2 {
  position: relative;
  width: 275px;
  height: 147px;
  margin-top: 20px;
}

header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP {
  height: 294px;
}

header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP .textboxesAP .textboxAP {
  width: 207.610px;
  height: 214px;
  padding: 30px 30.266px;
  margin-right: 20px;
  background-color: #fff;
  box-shadow: 0 2px 7px 0 rgba(0,0,0,.1);
  border-radius: 7px;
}

header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .textboxesAP2 {
  display: flex;
  width: 865px;
}

header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .textboxesAP2 .textboxAP2
{
  width: 207.610px;
  height: 242px;
  padding: 30px 30.266px;
  margin-right: 20px;
  background-color: #fff;
  box-shadow: 0 2px 7px 0 rgba(0,0,0,.1);
  border-radius: 7px;
}

header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .textboxesAP2 .textboxAP2 h2
{
  width: 207.609px;
  height: 24px;
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 16px;
}

header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .textboxesAP2 .textboxAP2 .listAP2 > li
{
  width: 207.609px;
  height: 18px;
  margin-top: 18px;
  font-size: 14px;
  color: #555;
}

header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .textboxesAP2 .textboxAP2
{
  width: 207.610px;
  height: 314px;
  padding: 30px 30.266px;
  margin-right: 20px;
  background-color: #fff;
  box-shadow: 0 2px 7px 0 rgba(0,0,0,.1);
  border-radius: 7px;
}

header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .textboxesAP2 .textboxAP2 > h2
{
  width: 207.609px;
  height: 24px;
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 16px;
}

header .main-menu .item .item__contentsAP .contents__menuAP .contents_innerAP2 .textboxesAP2 .textboxAP2 .listAP2 > li
{
  width: 207.609px;
  height: 18px;
  margin-top: 18px;
  font-size: 14px;
  color: #555;
}