/* Notice */

.notice {
  width: 1245px;
  height: 365px;
  position: relative;
  left: 50%;
  margin-left: -654px;
  top: 170px;
  padding: 0 20px;
}

.notice .notice-box h2 {
  width: 1024px;
  font-size: 28px;
  font-weight: 700;
}

.notice .notice-box .see-list {
  width: 49px;
  font-size: 14px;
  color: #555;
  position: absolute;
  right: 0;
  top: 20px;
  cursor: pointer;
  line-height: 21px;
  box-shadow: inset 0 -9.5px 0 #8be0f8;
}

.notice .notice-box .see-list:hover {
  border: 1px solid #0056D5;
  border-radius: 4px;
}

.notice .notice-box .contents {
  margin-right: 50px;
  cursor: pointer;
}

.notice .notice-box ul.notice-contents1 {
  width: 718px;
  height: 72px;
  position: absolute;
  bottom: 216px;
  border-top: 1px solid #D9DBE1;
  border-bottom: 1px solid #D9DBE1;
  box-sizing: border-box;
}

.notice .notice-box ul.notice-contents1:hover li.title {
  text-decoration: underline;
}

.notice .notice-box ul.notice-contents1 li.date {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #767676;
  font-size: 14px;
}

.notice .notice-box ul.notice-contents2 {
  width: 718px;
  height: 72px;
  position: absolute;
  bottom: 144px;
  border-bottom: 1px solid #D9DBE1;
  box-sizing: border-box;
}

.notice .notice-box ul.notice-contents2:hover li.title {
  text-decoration: underline;
}

.notice .notice-box ul.notice-contents2 li.date {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #767676;
  font-size: 14px;
}

.notice .notice-box ul.notice-contents3 {
  width: 718px;
  height: 72px;
  position: absolute;
  bottom: 72px;
  border-bottom: 1px solid #D9DBE1;
  box-sizing: border-box;
}

.notice .notice-box ul.notice-contents3:hover li.title {
  text-decoration: underline;
}

.notice .notice-box ul.notice-contents3 li.date {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #767676;
  font-size: 14px;
}

.notice .notice-box ul.notice-contents4 {
  width: 718px;
  height: 72px;
  position: absolute;
  bottom: 0px;
  border-bottom: 1px solid #D9DBE1;
  box-sizing: border-box;
}

.notice .notice-box ul.notice-contents4:hover li.title {
  text-decoration: underline;
}

.notice .notice-box ul.notice-contents4 li.date {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #767676;
  font-size: 14px;
}

.notice .notice-box li {
  padding: 24px 0;
  font-size: 16px;
  font-weight: 700;
}

.notice .notice-box a {

}

.notice .notice-box .contents-img img {
  width: 500px;
  height: 293px;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 10px;
}

.notice .notice-box .contents-img img:hover {
  outline-style: solid;
  outline-width: thin;
  outline-color: #0056D5;
  outline-offset: 2px;
}

.notice .notice-box .contents-img .text {
  text-shadow: 0 0 1px rgba(0,0,0,.8);
  color: #fff;
}

.notice .notice-box .contents-img .text p.title{
  width: 200px;
  height: 24px;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 10px;
  position: absolute;
  right: 260px;
  top: 116px;
}

.notice .notice-box .contents-img .text p.contents {
  width: 200px;
  height: 42px;
  font-size: 14px;
  position: absolute;
  right: 210px;
  top: 150px;
}


/* EXPERIENCE */
.experience {
  width: 1880px;
  height: 301.23px;
  position: relative;
  padding: 0 20px;
  margin-top: 270px;
  background-color: #d0e7f6;
  border-bottom: 1px solid #D7DEE6;
  transition: height .3s ease;
}

.experience .experience-box {
  width: 1280px;
  height: 201px;
  position: absolute;
  left: 50%;
  margin-left: -640px;
  position: absolute;
  padding: 50px 0;
}

.experience .experience-box h2 {
  height: 42px;
  width: 1253px;
  margin-bottom: 30px;
  position: absolute;
  left: 0;
  font-size: 28px;
  font-weight: 700;
}

.experience .experience-box ul.boxes {
  width: 1302px;
  height: 129.23px;
  position: absolute;
  left: 0;
  top: 122px;
  display: flex;
}

.experience .experience-box .boxes li{
  width: 160px;
  height: 89.234px;
  padding: 20px;
  margin-right: 22px;
  font-weight: 700;
  line-height: 1.64;
  text-align: center;
  background-color: rgba(255,255,255,.5);
  left: 0;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.experience .experience-box .boxes li:hover {
 background-color: #fff;
 text-decoration: underline;
}

.experience .experience-box .boxes li:hover span {
  visibility: visible;
}

.experience .experience-box .boxes li img {
  width: 48px;
  height: 48px;
  margin: 15px 38px 0 ;
}

.experience .experience-box .boxes li span {
  visibility: hidden;
  width: 77.281px;
  height: 21px;
  padding: 14px 24px;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  font-size: 14px;

  position: absolute;
  z-index: 1;
  top: 115%;
  left: 20px;
}

.experience .experience-box .boxes li span::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 40%;
  border-top: 0 solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
}