/* VISUAL */
.visual {
background-image: url('../images/background_main.jpg');
background-position: center top;
background-repeat: no-repeat;
background-size: cover;
}

.visual .inner {
  position: relative;
  height: 288px;
  padding: 80px 24px;
}

.visual .visual-menu {
  display: flex;
}

.visual .visual-menu .item .item__name1 {
  width: 239.54px;
  height: 54px;
  padding: 0 40px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  background-color: #fff;
  color: #000;
  border-radius: 20px 20px 0 0;
  line-height: 54px;
  cursor: pointer;
}

.visual .visual-menu .item .item__name1:hover {
  text-decoration: underline;
}

.visual .visual-menu .item .item__name {
  width: 239.54px;
  height: 54px;
  padding: 0 40px;
  font-size: 16px;
  text-align: center;
  background-color: #65728a;
  color: #fff;
  border-radius: 20px 20px 0 0;
  line-height: 54px;
  cursor: pointer;
}

.visual .visual-menu .item .item__name:hover {
  text-decoration: underline;
}

.visual .inner .item__contents {
  position: relative;
  width: 1198px;
  height: 190px;
  padding: 30px 40px 10px;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
}

.visual .inner .item__contents .contents-box {
  display: flex;
  width: 1177px;
  height: 40px;
}

.visual .inner .item__contents .contents-box .select-button {
  width: 218.266px;
  height: 40px;
  margin: 0 35px 10px 0;
}

.visual .inner .item__contents .contents-box .select-button .select-button-tab {
  width: 218.266px;
  height: 40px;
}

.visual .inner .item__contents .contents-box .select-button .select-button-tab .button-tab {
  display: flex;
  width: 216.266px;
  height: 38px;
  background-color: #fff;
  border: 1px solid #d9dbe1;
  border-radius: 51.2px;
}

.visual .inner .item__contents .contents-box .select-button .select-button-tab .button-tab .tab1 {
  position: relative;
  width: 29.453px;
  height: 36px;
  padding: 2px 24px;
  margin: -1px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  line-height: 1.5;
  background-color: #00256c;
  border-radius: 51.2px;
  color: #fff;
  cursor: pointer;
}

.visual .inner .item__contents .contents-box .select-button .select-button-tab .button-tab .tab1 p {
  position: absolute;
  top: 25%;
  cursor: pointer;
}

.visual .inner .item__contents .contents-box .select-button .select-button-tab .button-tab .tab1 p:hover {
  text-decoration: underline;
}

.visual .inner .item__contents .contents-box .select-button .select-button-tab .button-tab .tab2 {
  position: relative;
  width: 92.812px;
  height: 34px;
  padding: 2px 24px;
  font-size: 16px;
  text-align: center;
  background-color: transparent;
  color: #00256c
}

.visual .inner .item__contents .contents-box .select-button .select-button-tab .button-tab .tab2 p {
  position: absolute;
  top: 25%;
  cursor: pointer;
}

.visual .inner .item__contents .contents-box .select-button .select-button-tab .button-tab .tab2 p:hover {
  text-decoration: underline;
}

.visual .inner .item__contents .contents-box .main-contents {
  width: 215.547px;
  height: 38px;
  margin-bottom: 41px;
}

.visual .inner .item__contents .contents-box .main-contents .select-type {
  position: relative;
  width: 122.906px;
  height: 38px;
}

.visual .inner .item__contents .contents-box .main-contents .select-type .type1 {
  display: flex;
  width: 122.906px;
}

.visual .inner .item__contents .contents-box .main-contents .select-type .type1 .type1-1 {
  position: relative;
  width: 33.453px;
  height: 38px;
  padding: 0 14px;
}

.visual .inner .item__contents .contents-box .main-contents .select-type .type1 .type1-1 p {
  position: absolute;
  top: 25%;
  font-weight: 700;
  font-size: 16px;
  color: #00256c;
}

.visual .inner .item__contents .contents-box .main-contents .select-type .type1 .type1-1 p:hover {
  outline: solid #0056D5 1px;
  border-radius: 2px;
  outline-offset: 1px;
}

.visual .inner .item__contents .contents-box .main-contents .select-type .type1 .type1-2 {
  position: relative;
  width: 33.453px;
  height: 38px;
  padding: 0 14px; 
}

.visual .inner .item__contents .contents-box .main-contents .select-type .type1 .type1-2 p {
  position: absolute;
  top: 25%;
  font-size: 16px;
  color: #555;
}

.visual .inner .item__contents .contents-box .main-contents .select-type .type1 .type1-2 p:hover {
  outline: solid #0056D5 1px;
  border-radius: 2px;
  outline-offset: 1px;
}

.visual .inner .item__contents .contents-box .main-contents .select-type .type2 {
  position: absolute;
  display: flex;
  width: 70px;
  height: 38px;
  padding: 0 14px;
  top: 0;
  left: 122.876px;
  cursor: pointer;
}

.visual .inner .item__contents .contents-box .main-contents .select-type .type2 .for-hover {
  position: absolute;
  width: 56px;
  height: 22px;
  top: 8px;
}

.visual .inner .item__contents .contents-box .main-contents .select-type .type2 .for-hover:hover {
  outline: solid #0056D5 1px;
  border-radius: 2px;
  outline-offset: 1px;
}

.visual .inner .item__contents .contents-box .main-contents .select-type .type2 p {
  position: absolute;
  top: 10%;
  color: #555;
  font-size: 16px;
}

.visual .inner .item__contents .contents-box .main-contents .select-type .type2 p::after {
  position: absolute;
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: -4.8px 0 0 6.4px;
  content: '';
  border-left: 1px solid #555;
  border-bottom: 1px solid #555;
  transform: rotate(225deg);
  vertical-align: middle;
  top: 48%;
}

.visual .inner .item__contents .booking {
  position: absolute;
  display: flex;
  width: 1177px;
  height: 82.109px;
  bottom: 0;
  margin-bottom: 30px;
  justify-content: space-between;
}

.visual .inner .item__contents .booking .separate1 {
  width: 261.094px;
  height: 71.109px;
  margin-top: 3px;
}

.visual .inner .item__contents .booking .separate1  .inbox1{
  position: relative;
  display: flex;
}


.visual .inner .item__contents .booking .separate1 .inbox1 .departure {
  width: 105.734px;
  height: 71.109px;
  text-align: center;
  cursor: pointer;
}

.visual .inner .item__contents .booking .separate1 .inbox1 .departure:hover {
  outline: solid #0056D5 1px;
  border-radius: 2px;
  outline-offset: 1px;
}

.visual .inner .item__contents .booking .separate1 .inbox1 .departure .departure-en > span {
  width: 105.734px;
  height: 44px;
  font-size: 32px;
  line-height: 1.4;
  font-weight: 700;
}

.visual .inner .item__contents .booking .separate1 .inbox1 .departure .departure-ko > span {
  width: 105.734px;
  height: 25.109px;
  margin: 2px 0 0 -4px;
  font-size: 16px;
}

.visual .inner .item__contents .booking .separate1 .inbox1 .arrival {
  position: absolute;
  width: 105.734px;
  height: 71.109px;
  text-align: center;
  right: 0;
  cursor: pointer;
}

.visual .inner .item__contents .booking .separate1 .inbox1 .arrival:hover {
  outline: solid #0056D5 1px;
  border-radius: 2px;
  outline-offset: 1px;
}

.visual .inner .item__contents .booking .separate1 .inbox1 .arrival .arrival-en > span{
  width: 105.734px;
  height: 44px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.4;
  color: #767676;
}

.visual .inner .item__contents .booking .separate1 .inbox1 .arrival .arrival-ko > span{
  width: 105.734px;
  height: 25.109px;
  margin: 2px 0 0 -4px;
  font-size: 16px;
  color: #767676;
}

.visual .inner .item__contents .booking .separate1 .inbox1 .exchange {
  position: relative;
  width: 42px;
  height: 42px;
}

.visual .inner .item__contents .booking .separate1 .inbox1 .exchange > img {
  position: absolute;
  width: 42px;
  height: 42px;
  margin-top: 15px;
}

.visual .inner .item__contents .booking .separate2 {
  width: 337.406px;
  height: 81px;
}

.visual .inner .item__contents .booking .separate2 > p {
  width: 337.406px;
  height: 26px;
  margin: 3px 0 5px 0;
  color: #767676;
  font-size: 14px;
}

.visual .inner .item__contents .booking .separate2 > .dates {
  position: relative;
  display: flex;
  width: 337.406px;
  height: 42px;
  border-bottom: 1px solid #767676;
  cursor: pointer;
}

.visual .inner .item__contents .booking .separate2 > .dates:hover {
  outline: solid #0056D5 1px;
  border-radius: 2px;
  outline-offset: 1px;
}

.visual .inner .item__contents .booking .separate2 > .dates span {
  position: absolute;
  top: 33%;
  left: 30px;
  font-size: 16px;
  color: #767676;
}

.visual .inner .item__contents .booking .separate2 > .dates img {
  position: absolute;
  top: 28%;
  margin: 0 5px 0 0;  
}

.visual .inner .item__contents .booking .separate3 > p {
  width: 120.156px;
  height: 26px;
  margin: 3px 0 5px 0;
  color: #767676;
  font-size: 14px;
}

.visual .inner .item__contents .booking .separate3 .personnel {
  position: relative;
  display: flex;
  width: 120.156px;
  height: 42px;
  padding-right: 30px;
  border-bottom: 1px solid #767676;
  cursor: pointer;
}

.visual .inner .item__contents .booking .separate3 .personnel:hover {
  outline: solid #0056D5 1px;
  border-radius: 2px;
  outline-offset: 1px;
}

.visual .inner .item__contents .booking .separate3 .personnel .text {
  position: absolute;
  top: 33%;
  font-size: 16px;
  font-weight: 700;
}

.visual .inner .item__contents .booking .separate3 .personnel > img {
  position: absolute;
  width: 24x;
  height: 24px;
  top: 28%;
  right: 0;
  margin: 0 5px 0 0;
}

.visual .inner .item__contents .booking .separate4 > p {
  width: 163.797px;
  height: 26px;
  margin: 3px 0 5px 0;
  font-size: 14px;
  color: #767676;
}

.visual .inner .item__contents .booking .separate4 .seat {
  position: relative;
  display: flex;
  width: 133.797px;
  height: 42px;
  padding-right: 30px;
  border-bottom: 1px solid #767676;
  cursor: pointer;
}

.visual .inner .item__contents .booking .separate4 .seat:hover {
  outline: solid #0056D5 1px;
  border-radius: 2px;
  outline-offset: 1px;
}

.visual .inner .item__contents .booking .separate4 .seat .text {
  position: absolute;
  top: 33%;
  font-size: 16px;
  color: #767676;
}

.visual .inner .item__contents .booking .separate4 .seat > img {
  position: absolute;
  width: 24x;
  height: 24px;
  top: 28%;
  right: 0;
  margin: 0 5px 0 0;
}

.visual .inner .item__contents .booking .separate5 {
  width: 115.047px;
  height: 48px;
  margin-top: 33px;
  cursor: pointer;
}

.visual .inner .item__contents .booking .separate5:hover {
  outline: solid #0056D5 1px;
  border-radius: 10px;
  outline-offset: 1px;
}

.visual .inner .item__contents .booking .separate5 .widget {
  display: flex;
  width: 105.047px;
  height: 48px;
  padding: 0 5px;
  background-color: #00256c;
  color: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}